In [5]:
import pandas as pd
import numpy as np

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 7C66-8E97

 Directory of C:\Users\ch186802\Python\Test

06/16/2018  20:24    <DIR>          .
06/16/2018  20:24    <DIR>          ..
06/15/2018  14:58    <DIR>          .ipynb_checkpoints
06/16/2018  20:24           100,352 test.ipynb
08/11/2016  14:07         3,714,254 yesware-test-data-v1-6.txt
               2 File(s)      3,814,606 bytes
               3 Dir(s)  314,112,106,496 bytes free

In [6]:
raw_data = pd.read_table('yesware-test-data-v1-6.txt', names=('A'))

In [7]:
df = pd.DataFrame(raw_data)
df.columns=['original']

In [8]:
# below line parses the entire df, removes everything after the '--' & writes data to a new column called split
df['split'] = df['original'].map(lambda x: x.split('--', 1)[0])

In [9]:
# below line displays only every 2nd row in the df
df.iloc[::2]

                                original                  split
0                  Graham, Mckenna -- ut       Graham, Mckenna
2                Marvin, Garfield -- non      Marvin, Garfield
4      McLaughlin, Mariah -- consequatur    McLaughlin, Mariah
6             Lang, Agustina -- pariatur        Lang, Agustina
8                   Bradtke, Nikko -- et        Bradtke, Nikko
10                  Adams, Luis -- error           Adams, Luis
12           Lehner, Matilde -- nesciunt       Lehner, Matilde
14                  Ortiz, Anita -- fuga          Ortiz, Anita
16                    Koch, Berry -- vel           Koch, Berry
18             Cartwright, Nicolas -- et   Cartwright, Nicolas
20                   Fisher, Elmo -- non          Fisher, Elmo
22         Kunze, Gertrude -- voluptatem       Kunze, Gertrude
24               Stanton, Davin -- porro        Stanton, Davin
26     O'Conner, Constantin -- veritatis  O'Conner, Constantin
28              Runolfsdottir, Roy -- et    Runolfsdottir, Roy
30             Rogahn, Colby -- quisquam         Rogahn, Colby
32                   Tromp, Ryley -- est          Tromp, Ryley
34                 Hoppe, Stanley -- est        Hoppe, Stanley
36             Shanahan, Bethel -- rerum      Shanahan, Bethel
38                 Hills, Samanta -- aut        Hills, Samanta
40                  McGlynn, Thad -- sed         McGlynn, Thad
42              McGlynn, Katrina -- quia      McGlynn, Katrina
44              Lynch, Norma -- expedita          Lynch, Norma
46          Bahringer, Lennie -- aliquam     Bahringer, Lennie
48       Tillman, Madison -- praesentium      Tillman, Madison
50         Stoltenberg, Donna -- ratione    Stoltenberg, Donna
52        Dickinson, Sonya -- asperiores      Dickinson, Sonya
54             Bechtelar, Jane -- magnam       Bechtelar, Jane
56               Graham, Alfonzo -- quas       Graham, Alfonzo
58        McDermott, Ivah -- consequatur       McDermott, Ivah
...                                  ...                    ...
99940          Schneider, Everette -- id   Schneider, Everette
99942      Roberts, Holden -- reiciendis       Roberts, Holden
99944             Jast, Gail -- expedita            Jast, Gail
99946        Witting, Trenton -- debitis      Witting, Trenton
99948             Goodwin, Zetta -- eius        Goodwin, Zetta
99950          Ratke, Kaleb -- molestiae          Ratke, Kaleb
99952          Brakus, Emilia -- aliquid        Brakus, Emilia
99954         Rippin, Jose -- voluptatem          Rippin, Jose
99956    Keebler, Forrest -- accusantium      Keebler, Forrest
99958           Rohan, Hellen -- aperiam         Rohan, Hellen
99960       Schuster, Arden -- excepturi       Schuster, Arden
99962       Schneider, Kayley -- facilis     Schneider, Kayley
99964       Buckridge, Cassidy -- itaque    Buckridge, Cassidy
99966  Emmerich, Loraine -- consequuntur     Emmerich, Loraine
99968      Johnston, Kevin -- blanditiis       Johnston, Kevin
99970             Kirlin, Kylee -- natus         Kirlin, Kylee
99972             Pouros, Kellie -- iure        Pouros, Kellie
99974        Mosciski, Stephania -- quia   Mosciski, Stephania
99976             Emmerich, Hubert -- et      Emmerich, Hubert
99978                Kris, Devon -- quas           Kris, Devon
99980               Heller, Sadie -- eos         Heller, Sadie
99982            Beatty, Bertha -- omnis        Beatty, Bertha
99984       Pollich, Richie -- voluptate       Pollich, Richie
99986             Feil, Louie -- facilis           Feil, Louie
99988        Jones, Elyssa -- voluptatum         Jones, Elyssa
99990            Kuhlman, Demarco -- est      Kuhlman, Demarco
99992     MacGyver, Fabian -- aspernatur      MacGyver, Fabian
99994             Wehner, Keyshawn -- et      Wehner, Keyshawn
99996             Littel, Joel -- labore          Littel, Joel
99998             Hettinger, Brett -- in      Hettinger, Brett

[50000 rows x 2 columns]

In [10]:
# below to show if the data in the column contains the specified character
# useing this column in the future to check if any non name rows get selected in new_df
df['required'] = df.split.str.contains(',') == True

In [11]:
# skip alternate row using indexs
new_df = df.iloc[::2]

In [12]:
df

,original,split,required
0,"Graham, Mckenna -- ut","Graham, Mckenna",True
1,Voluptatem ipsam et at.,Voluptatem ipsam et at.,False
2,"Marvin, Garfield -- non","Marvin, Garfield",True
3,Facere et necessitatibus animi.,Facere et necessitatibus animi.,False
4,"McLaughlin, Mariah -- consequatur","McLaughlin, Mariah",True
5,Eveniet temporibus ducimus amet eaque.,Eveniet temporibus ducimus amet eaque.,False
6,"Lang, Agustina -- pariatur","Lang, Agustina",True
7,Unde voluptas sit fugit.,Unde voluptas sit fugit.,False
8,"Bradtke, Nikko -- et","Bradtke, Nikko",True
9,Maiores ab officia sed.,Maiores ab officia sed.,False
10,"Adams, Luis -- error","Adams, Luis",True
11,Repellendus alias officia amet et perspici...,Repellendus alias officia amet et perspici...,False
12,"Lehner, Matilde -- nesciunt","Lehner, Matilde",True
13,Incidunt et ut necessitatibus porro.,Incidunt et ut necessitatibus porro.,False
14,"Ortiz, Anita -- fuga","Ortiz, Anita",True
15,Tempore eos et hic.,Tempore eos et hic.,False
16,"Koch, Berry -- vel","Koch, Berry",True
17,Laborum perferendis inventore eveniet.,Laborum perferendis inventore eveniet.,False
18,"Cartwright, Nicolas -- et","Cartwright, Nicolas",True
19,Optio aliquid earum exercitationem vitae f...,Optio aliquid earum exercitationem vitae f...,False
20,"Fisher, Elmo -- non","Fisher, Elmo",True
21,Ipsum provident nobis explicabo voluptas i...,Ipsum provident nobis explicabo voluptas i...,False
22,"Kunze, Gertrude -- voluptatem","Kunze, Gertrude",True
23,Aliquam optio qui et architecto molestias ...,Aliquam optio qui et architecto molestias ...,False
24,"Stanton, Davin -- porro","Stanton, Davin",True
25,Enim alias aut error iure.,Enim alias aut error iure.,False
26,"O'Conner, Constantin -- veritatis","O'Conner, Constantin",True
27,Alias doloremque rem est aspernatur.,Alias doloremque rem est aspernatur.,False
28,"Runolfsdottir, Roy -- et","Runolfsdottir, Roy",True
29,Eum est aut sapiente.,Eum est aut sapiente.,False
...,...,...,...
99970,"Kirlin, Kylee -- natus","Kirlin, Kylee",True
99971,Voluptatibus harum quibusdam architecto qu...,Voluptatibus harum quibusdam architecto qu...,False
99972,"Pouros, Kellie -- iure","Pouros, Kellie",True
99973,Facilis deleniti quasi optio aut molestiae...,Facilis deleniti quasi optio aut molestiae...,False
99974,"Mosciski, Stephania -- quia","Mosciski, Stephania",True
99975,Adipisci iste sint voluptas repellat error...,Adipisci iste sint voluptas repellat error...,False
99976,"Emmerich, Hubert -- et","Emmerich, Hubert",True
99977,Totam perferendis repudiandae itaque volup...,Totam perferendis repudiandae itaque volup...,False
99978,"Kris, Devon -- quas","Kris, Devon",True
99979,Ullam accusamus vel doloribus eos quia ten...,Ullam accusamus vel doloribus eos quia ten...,False
99980,"Heller, Sadie -- eos","Heller, Sadie",True
99981,Numquam nemo in praesentium est sint.,Numquam nemo in praesentium est sint.,False
99982,"Beatty, Bertha -- omnis","Beatty, Bertha",True
99983,Odit non ipsam voluptas.,Odit non ipsam voluptas.,False
99984,"Pollich, Richie -- voluptate","Pollich, Richie",True
99985,Accusantium voluptatibus ut laudantium nos...,Accusantium voluptatibus ut laudantium nos...,False
99986,"Feil, Louie -- facilis","Feil, Louie",True
99987,Sit sit veniam cupiditate.,Sit sit veniam cupiditate.,False
99988,"Jones, Elyssa -- voluptatum","Jones, Elyssa",True
99989,Eos accusamus animi eos nesciunt expedita.,Eos accusamus animi eos nesciunt expedita.,False
99990,"Kuhlman, Demarco -- est","Kuhlman, Demarco",True
99991,Et adipisci ex a.,Et adipisci ex a.,False
99992,"MacGyver, Fabian -- aspernatur","MacGyver, Fabian",True
99993,Qui unde aut eum ex soluta iste rerum dolo...,Qui unde aut eum ex soluta iste rerum dolo...,False
99994,"Wehner, Keyshawn -- et","Wehner, Keyshawn",True
99995,Excepturi laboriosam labore magnam tenetur...,Excepturi laboriosam labore magnam tenetur...,False
99996,"Littel, Joel -- labore","Littel, Joel",True
99997,Ut qui iure aut distinctio eum deleniti be...,Ut qui iure aut distinctio eum deleniti be...,False
99998,"Hettinger, Brett -- in","Hettinger, Brett",True
99999,Delectus natus esse voluptas aut ad.,Delectus natus esse voluptas aut ad.,False

In [13]:
# rename column split to column full_name 
new_df = new_df.rename(columns = {'split':'full_name'})

In [14]:
new_df

                                original              full_name  required
0                  Graham, Mckenna -- ut       Graham, Mckenna       True
2                Marvin, Garfield -- non      Marvin, Garfield       True
4      McLaughlin, Mariah -- consequatur    McLaughlin, Mariah       True
6             Lang, Agustina -- pariatur        Lang, Agustina       True
8                   Bradtke, Nikko -- et        Bradtke, Nikko       True
10                  Adams, Luis -- error           Adams, Luis       True
12           Lehner, Matilde -- nesciunt       Lehner, Matilde       True
14                  Ortiz, Anita -- fuga          Ortiz, Anita       True
16                    Koch, Berry -- vel           Koch, Berry       True
18             Cartwright, Nicolas -- et   Cartwright, Nicolas       True
20                   Fisher, Elmo -- non          Fisher, Elmo       True
22         Kunze, Gertrude -- voluptatem       Kunze, Gertrude       True
24               Stanton, Davin -- porro        Stanton, Davin       True
26     O'Conner, Constantin -- veritatis  O'Conner, Constantin       True
28              Runolfsdottir, Roy -- et    Runolfsdottir, Roy       True
30             Rogahn, Colby -- quisquam         Rogahn, Colby       True
32                   Tromp, Ryley -- est          Tromp, Ryley       True
34                 Hoppe, Stanley -- est        Hoppe, Stanley       True
36             Shanahan, Bethel -- rerum      Shanahan, Bethel       True
38                 Hills, Samanta -- aut        Hills, Samanta       True
40                  McGlynn, Thad -- sed         McGlynn, Thad       True
42              McGlynn, Katrina -- quia      McGlynn, Katrina       True
44              Lynch, Norma -- expedita          Lynch, Norma       True
46          Bahringer, Lennie -- aliquam     Bahringer, Lennie       True
48       Tillman, Madison -- praesentium      Tillman, Madison       True
50         Stoltenberg, Donna -- ratione    Stoltenberg, Donna       True
52        Dickinson, Sonya -- asperiores      Dickinson, Sonya       True
54             Bechtelar, Jane -- magnam       Bechtelar, Jane       True
56               Graham, Alfonzo -- quas       Graham, Alfonzo       True
58        McDermott, Ivah -- consequatur       McDermott, Ivah       True
...                                  ...                    ...       ...
99940          Schneider, Everette -- id   Schneider, Everette       True
99942      Roberts, Holden -- reiciendis       Roberts, Holden       True
99944             Jast, Gail -- expedita            Jast, Gail       True
99946        Witting, Trenton -- debitis      Witting, Trenton       True
99948             Goodwin, Zetta -- eius        Goodwin, Zetta       True
99950          Ratke, Kaleb -- molestiae          Ratke, Kaleb       True
99952          Brakus, Emilia -- aliquid        Brakus, Emilia       True
99954         Rippin, Jose -- voluptatem          Rippin, Jose       True
99956    Keebler, Forrest -- accusantium      Keebler, Forrest       True
99958           Rohan, Hellen -- aperiam         Rohan, Hellen       True
99960       Schuster, Arden -- excepturi       Schuster, Arden       True
99962       Schneider, Kayley -- facilis     Schneider, Kayley       True
99964       Buckridge, Cassidy -- itaque    Buckridge, Cassidy       True
99966  Emmerich, Loraine -- consequuntur     Emmerich, Loraine       True
99968      Johnston, Kevin -- blanditiis       Johnston, Kevin       True
99970             Kirlin, Kylee -- natus         Kirlin, Kylee       True
99972             Pouros, Kellie -- iure        Pouros, Kellie       True
99974        Mosciski, Stephania -- quia   Mosciski, Stephania       True
99976             Emmerich, Hubert -- et      Emmerich, Hubert       True
99978                Kris, Devon -- quas           Kris, Devon       True
99980               Heller, Sadie -- eos         Heller, Sadie       True
99982            Beatty, Bertha -- omnis        Beatty, Bertha       True
99984       Pollich, Richie -- voluptate       Pollich, Richie       True
99986             Feil, Louie -- facilis           Feil, Louie       True
99988        Jones, Elyssa -- voluptatum         Jones, Elyssa       True
99990            Kuhlman, Demarco -- est      Kuhlman, Demarco       True
99992     MacGyver, Fabian -- aspernatur      MacGyver, Fabian       True
99994             Wehner, Keyshawn -- et      Wehner, Keyshawn       True
99996             Littel, Joel -- labore          Littel, Joel       True
99998             Hettinger, Brett -- in      Hettinger, Brett       True

[50000 rows x 3 columns]

In [15]:
# parse full_name into first and last
new_df['last'] = new_df['full_name'].map(lambda x: x.split(',', 1)[0])
new_df['first'] = new_df['full_name'].map(lambda x: x.split(',', -1)[-1])
# removing the test column from new_df
del new_df['required']

In [16]:
del new_df['original']

In [17]:
# noticed that there was a whitespace at the end to stripping it
new_df['full_name'] = new_df['full_name'].str.rstrip()

In [18]:
new_df

                  full_name           last         first
0           Graham, Mckenna         Graham      Mckenna
2          Marvin, Garfield         Marvin     Garfield
4        McLaughlin, Mariah     McLaughlin       Mariah
6            Lang, Agustina           Lang     Agustina
8            Bradtke, Nikko        Bradtke        Nikko
10              Adams, Luis          Adams         Luis
12          Lehner, Matilde         Lehner      Matilde
14             Ortiz, Anita          Ortiz        Anita
16              Koch, Berry           Koch        Berry
18      Cartwright, Nicolas     Cartwright      Nicolas
20             Fisher, Elmo         Fisher         Elmo
22          Kunze, Gertrude          Kunze     Gertrude
24           Stanton, Davin        Stanton        Davin
26     O'Conner, Constantin       O'Conner   Constantin
28       Runolfsdottir, Roy  Runolfsdottir          Roy
30            Rogahn, Colby         Rogahn        Colby
32             Tromp, Ryley          Tromp        Ryley
34           Hoppe, Stanley          Hoppe      Stanley
36         Shanahan, Bethel       Shanahan       Bethel
38           Hills, Samanta          Hills      Samanta
40            McGlynn, Thad        McGlynn         Thad
42         McGlynn, Katrina        McGlynn      Katrina
44             Lynch, Norma          Lynch        Norma
46        Bahringer, Lennie      Bahringer       Lennie
48         Tillman, Madison        Tillman      Madison
50       Stoltenberg, Donna    Stoltenberg        Donna
52         Dickinson, Sonya      Dickinson        Sonya
54          Bechtelar, Jane      Bechtelar         Jane
56          Graham, Alfonzo         Graham      Alfonzo
58          McDermott, Ivah      McDermott         Ivah
...                     ...            ...           ...
99940   Schneider, Everette      Schneider     Everette
99942       Roberts, Holden        Roberts       Holden
99944            Jast, Gail           Jast         Gail
99946      Witting, Trenton        Witting      Trenton
99948        Goodwin, Zetta        Goodwin        Zetta
99950          Ratke, Kaleb          Ratke        Kaleb
99952        Brakus, Emilia         Brakus       Emilia
99954          Rippin, Jose         Rippin         Jose
99956      Keebler, Forrest        Keebler      Forrest
99958         Rohan, Hellen          Rohan       Hellen
99960       Schuster, Arden       Schuster        Arden
99962     Schneider, Kayley      Schneider       Kayley
99964    Buckridge, Cassidy      Buckridge      Cassidy
99966     Emmerich, Loraine       Emmerich      Loraine
99968       Johnston, Kevin       Johnston        Kevin
99970         Kirlin, Kylee         Kirlin        Kylee
99972        Pouros, Kellie         Pouros       Kellie
99974   Mosciski, Stephania       Mosciski    Stephania
99976      Emmerich, Hubert       Emmerich       Hubert
99978           Kris, Devon           Kris        Devon
99980         Heller, Sadie         Heller        Sadie
99982        Beatty, Bertha         Beatty       Bertha
99984       Pollich, Richie        Pollich       Richie
99986           Feil, Louie           Feil        Louie
99988         Jones, Elyssa          Jones       Elyssa
99990      Kuhlman, Demarco        Kuhlman      Demarco
99992      MacGyver, Fabian       MacGyver       Fabian
99994      Wehner, Keyshawn         Wehner     Keyshawn
99996          Littel, Joel         Littel         Joel
99998      Hettinger, Brett      Hettinger        Brett

[50000 rows x 3 columns]

In [19]:
# unique full_names
new_df['full_name'].nunique()

49157

In [20]:
# unique first
new_df['first'].nunique()

3007

In [21]:
# unique last
new_df['last'].nunique()

475

In [22]:
# most common name in the respective columns
new_df['last'].value_counts().idxmax()

'Barton'

In [23]:
new_df['first'].value_counts().idxmax()

' Tara '

In [24]:
# new_df.groupby('last').agg('max')
# value_counts gives the number of times each value appears in the column & im using the indexing to limit display top 10
new_df['last'].value_counts()[:10]

Barton       143
Lang         136
Ortiz        135
Hilll        134
Hills        130
Terry        129
Johns        128
Becker       128
Romaguera    128
Batz         127
Name: last, dtype: int64

In [25]:
# defining a function to go through each element of the column in the dataframe & get its counts
new_df['last'].agg(lambda x: x.value_counts()[:10])

Barton       143
Lang         136
Ortiz        135
Hilll        134
Hills        130
Terry        129
Johns        128
Becker       128
Romaguera    128
Batz         127
Name: last, dtype: int64

In [26]:
# 10 most common first names in the data
new_df['first'].agg(lambda x: x.value_counts()[:10])

 Tara          34
 Andreanne     32
 Stephania     31
 Keon          31
 Kaycee        30
 Manley        30
 Summer        30
 Ulices        30
 Kayley        30
 Milo          29
Name: first, dtype: int64

In [30]:
# getting the first unique first_names (N=25) values from the data frame 
first_25 = new_df['first'].unique()[:25]

array([' Mckenna ', ' Garfield ', ' Mariah ', ' Agustina ', ' Nikko ',
       ' Luis ', ' Matilde ', ' Anita ', ' Berry ', ' Nicolas ', ' Elmo ',
       ' Gertrude ', ' Davin ', ' Constantin ', ' Roy ', ' Colby ',
       ' Ryley ', ' Stanley ', ' Bethel ', ' Samanta ', ' Thad ',
       ' Katrina ', ' Norma ', ' Lennie ', ' Madison '], dtype=object)

In [32]:
# getting the first unique last_names (N=25) values from the data frame
last_25 = new_df['last'].unique()[:25]

array(['Graham', 'Marvin', 'McLaughlin', 'Lang', 'Bradtke', 'Adams',
       'Lehner', 'Ortiz', 'Koch', 'Cartwright', 'Fisher', 'Kunze',
       'Stanton', "O'Conner", 'Runolfsdottir', 'Rogahn', 'Tromp', 'Hoppe',
       'Shanahan', 'Hills', 'McGlynn', 'Lynch', 'Bahringer', 'Tillman',
       'Stoltenberg'], dtype=object)

In [35]:
full_25 = new_df['full_name'][:50]

0            Graham, Mckenna
2           Marvin, Garfield
4         McLaughlin, Mariah
6             Lang, Agustina
8             Bradtke, Nikko
10               Adams, Luis
12           Lehner, Matilde
14              Ortiz, Anita
16               Koch, Berry
18       Cartwright, Nicolas
20              Fisher, Elmo
22           Kunze, Gertrude
24            Stanton, Davin
26      O'Conner, Constantin
28        Runolfsdottir, Roy
30             Rogahn, Colby
32              Tromp, Ryley
34            Hoppe, Stanley
36          Shanahan, Bethel
38            Hills, Samanta
40             McGlynn, Thad
42          McGlynn, Katrina
44              Lynch, Norma
46         Bahringer, Lennie
48          Tillman, Madison
50        Stoltenberg, Donna
52          Dickinson, Sonya
54           Bechtelar, Jane
56           Graham, Alfonzo
58           McDermott, Ivah
60    Pfannerstill, Filomena
62               Feest, Chaz
64            Cronin, Anissa
66        Oberbrunner, Dayne
68                 Haag, Tom
70        Breitenberg, Abbey
72            Dooley, Hassie
74        Schamberger, Patsy
76           Bernier, Sammie
78             Zboncak, Cora
80        Armstrong, Caleigh
82             Sauer, Juston
84           Collier, Bradly
86              Mante, Oleta
88             Hahn, Mallory
90         Heaney, Genevieve
92            Larkin, Elisha
94             Borer, Paxton
96            Bruen, Mohamed
98             Wolff, Hudson
Name: full_name, dtype: object

In [62]:
def unique(i):
    unique_list = []
    for i in i:
        unique_list.append(i)
    print (unique_list)
#     return unique_list

In [64]:
unique_list = []

In [66]:
for i in full_25:
    unique_list.append(i)

In [67]:
unique_list

['Graham, Mckenna',
 'Marvin, Garfield',
 'McLaughlin, Mariah',
 'Lang, Agustina',
 'Bradtke, Nikko',
 'Adams, Luis',
 'Lehner, Matilde',
 'Ortiz, Anita',
 'Koch, Berry',
 'Cartwright, Nicolas',
 'Fisher, Elmo',
 'Kunze, Gertrude',
 'Stanton, Davin',
 "O'Conner, Constantin",
 'Runolfsdottir, Roy',
 'Rogahn, Colby',
 'Tromp, Ryley',
 'Hoppe, Stanley',
 'Shanahan, Bethel',
 'Hills, Samanta',
 'McGlynn, Thad',
 'McGlynn, Katrina',
 'Lynch, Norma',
 'Bahringer, Lennie',
 'Tillman, Madison',
 'Stoltenberg, Donna',
 'Dickinson, Sonya',
 'Bechtelar, Jane',
 'Graham, Alfonzo',
 'McDermott, Ivah',
 'Pfannerstill, Filomena',
 'Feest, Chaz',
 'Cronin, Anissa',
 'Oberbrunner, Dayne',
 'Haag, Tom',
 'Breitenberg, Abbey',
 'Dooley, Hassie',
 'Schamberger, Patsy',
 'Bernier, Sammie',
 'Zboncak, Cora',
 'Armstrong, Caleigh',
 'Sauer, Juston',
 'Collier, Bradly',
 'Mante, Oleta',
 'Hahn, Mallory',
 'Heaney, Genevieve',
 'Larkin, Elisha',
 'Borer, Paxton',
 'Bruen, Mohamed',
 'Wolff, Hudson']

In [68]:
unique_list[0]

'Graham, Mckenna'

In [69]:
# from the new list, the below splits each element of the list into last name
unique_list[0].split(',', 1)[0]

'Graham'

In [76]:
# # from the new list, the below splits each element of the list into first name
unique_list[0].split(',', 1)[-1].lstrip()

'Mckenna'

In [134]:
# unique_list.append(full_25[0])
for i in full_25:
#     i_last = i.map(lambda x: x.split(',', 1)[0]) #condition to split the ith elements last name
#     i_first = i.map(lambda x: x.split(',', 1)[-1].lstrip()) #condition to split the ith elements first name
    last_list = full_25.map(lambda x: x.split(',', 1)[0])
    first_list = full_25.map(lambda x: x.split(',', 1)[-1].lstrip())
    if i.split(',', 1)[0] not in last_list:
#     if i.split(',', 1)[-1].lstrip() not in first_list:
        unique_list.append(i)

In [135]:
len(unique_list)

51

In [101]:
full_25

0            Graham, Mckenna
2           Marvin, Garfield
4         McLaughlin, Mariah
6             Lang, Agustina
8             Bradtke, Nikko
10               Adams, Luis
12           Lehner, Matilde
14              Ortiz, Anita
16               Koch, Berry
18       Cartwright, Nicolas
20              Fisher, Elmo
22           Kunze, Gertrude
24            Stanton, Davin
26      O'Conner, Constantin
28        Runolfsdottir, Roy
30             Rogahn, Colby
32              Tromp, Ryley
34            Hoppe, Stanley
36          Shanahan, Bethel
38            Hills, Samanta
40             McGlynn, Thad
42          McGlynn, Katrina
44              Lynch, Norma
46         Bahringer, Lennie
48          Tillman, Madison
50        Stoltenberg, Donna
52          Dickinson, Sonya
54           Bechtelar, Jane
56           Graham, Alfonzo
58           McDermott, Ivah
60    Pfannerstill, Filomena
62               Feest, Chaz
64            Cronin, Anissa
66        Oberbrunner, Dayne
68                 Haag, Tom
70        Breitenberg, Abbey
72            Dooley, Hassie
74        Schamberger, Patsy
76           Bernier, Sammie
78             Zboncak, Cora
80        Armstrong, Caleigh
82             Sauer, Juston
84           Collier, Bradly
86              Mante, Oleta
88             Hahn, Mallory
90         Heaney, Genevieve
92            Larkin, Elisha
94             Borer, Paxton
96            Bruen, Mohamed
98             Wolff, Hudson
Name: full_name, dtype: object

In [130]:
del unique_list[:]

In [136]:
unique_list

['Graham, Mckenna',
 'Graham, Mckenna',
 'Marvin, Garfield',
 'McLaughlin, Mariah',
 'Lang, Agustina',
 'Bradtke, Nikko',
 'Adams, Luis',
 'Lehner, Matilde',
 'Ortiz, Anita',
 'Koch, Berry',
 'Cartwright, Nicolas',
 'Fisher, Elmo',
 'Kunze, Gertrude',
 'Stanton, Davin',
 "O'Conner, Constantin",
 'Runolfsdottir, Roy',
 'Rogahn, Colby',
 'Tromp, Ryley',
 'Hoppe, Stanley',
 'Shanahan, Bethel',
 'Hills, Samanta',
 'McGlynn, Thad',
 'McGlynn, Katrina',
 'Lynch, Norma',
 'Bahringer, Lennie',
 'Tillman, Madison',
 'Stoltenberg, Donna',
 'Dickinson, Sonya',
 'Bechtelar, Jane',
 'Graham, Alfonzo',
 'McDermott, Ivah',
 'Pfannerstill, Filomena',
 'Feest, Chaz',
 'Cronin, Anissa',
 'Oberbrunner, Dayne',
 'Haag, Tom',
 'Breitenberg, Abbey',
 'Dooley, Hassie',
 'Schamberger, Patsy',
 'Bernier, Sammie',
 'Zboncak, Cora',
 'Armstrong, Caleigh',
 'Sauer, Juston',
 'Collier, Bradly',
 'Mante, Oleta',
 'Hahn, Mallory',
 'Heaney, Genevieve',
 'Larkin, Elisha',
 'Borer, Paxton',
 'Bruen, Mohamed',
 'Wolff, Hudson']

In [125]:
last_list

0            Graham
2            Marvin
4        McLaughlin
6              Lang
8           Bradtke
10            Adams
12           Lehner
14            Ortiz
16             Koch
18       Cartwright
20           Fisher
22            Kunze
24          Stanton
26         O'Conner
28    Runolfsdottir
30           Rogahn
32            Tromp
34            Hoppe
36         Shanahan
38            Hills
40          McGlynn
42          McGlynn
44            Lynch
46        Bahringer
48          Tillman
50      Stoltenberg
52        Dickinson
54        Bechtelar
56           Graham
58        McDermott
60     Pfannerstill
62            Feest
64           Cronin
66      Oberbrunner
68             Haag
70      Breitenberg
72           Dooley
74      Schamberger
76          Bernier
78          Zboncak
80        Armstrong
82            Sauer
84          Collier
86            Mante
88             Hahn
90           Heaney
92           Larkin
94            Borer
96            Bruen
98            Wolff
Name: full_name, dtype: object

In [127]:
first_list

0        Mckenna
2       Garfield
4         Mariah
6       Agustina
8          Nikko
10          Luis
12       Matilde
14         Anita
16         Berry
18       Nicolas
20          Elmo
22      Gertrude
24         Davin
26    Constantin
28           Roy
30         Colby
32         Ryley
34       Stanley
36        Bethel
38       Samanta
40          Thad
42       Katrina
44         Norma
46        Lennie
48       Madison
50         Donna
52         Sonya
54          Jane
56       Alfonzo
58          Ivah
60      Filomena
62          Chaz
64        Anissa
66         Dayne
68           Tom
70         Abbey
72        Hassie
74         Patsy
76        Sammie
78          Cora
80       Caleigh
82        Juston
84        Bradly
86         Oleta
88       Mallory
90     Genevieve
92        Elisha
94        Paxton
96       Mohamed
98        Hudson
Name: full_name, dtype: object